// 配置
$baseFontSize:20;

// 动态计算rem值
@function pxToRem($number) {
    @return ($number/$baseFontSize)+rem;
}

// 计算百分比数值
@function percentageVal($molecular, $denominator) {
    @return ($molecular/$denominator)*100%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}