/*the style main index*/
@import './transition.scss';
@import './mixin';
@import './truncate';
@import './common';


html {
    font-size: 14px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
    width: 100%;
    height: 100%;

    font-family: "Gotham-Medium";
    background-color: #fff;
    // overflow: hidden;
    // user-select: none;
    // line-height: 0.15 !important;
}

div,
span,
section {
    box-sizing: border-box;
}


/*css 初始化 */

body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
    font-size: pxToRem(14);
}

fieldset,
img,
input,
button {
    /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

button {
    outline: none !important;
}

ul,
ol {
    list-style: none;
    /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: pxToRem(12);
    margin: 0;
    outline: none;
    outline-color: red;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
    /*合并外边线*/
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

hr {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
    display: inline-block;
}

b {
    font-weight: normal;
}

/*公共类*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.db {
    display: block;
}

.dn {
    display: none;
}

.dib {
    display: inline-block;
}

.vam {
    vertical-align: middle;
}

.marginR0 {
    margin-right: 0 !important;
}

.marginL0 {
    margin-left: 0 !important;
}

.marginT0 {
    margin-top: 0 !important;
}

.marginB0 {
    margin-bottom: 0 !important;
}

::-webkit-file-upload-button {
    padding: 0;
}

::-moz-file-upload-button {
    padding: 0;
}

::-ms-file-upload-button {
    padding: 0;
}

::-o-file-upload-button {
    padding: 0;
}